<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><label>Name: </label><input type=text name="name" value="<%=@recipe.name%>"/></p>
  <p><label>Ingrediants: </label><input type=text name="ingredients" value="<%=@recipe.ingredients%>"/></p>
  <p><label>Cook Time: </label><input type=text name="cook_time" value="<%=@recipe.cook_time%>"/></p>
  <input id="submit" type="submit"/>
</form>
